@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Page set aside for a Dashboard</h1>
    <p>This is my personal Inventory for all my IT equipment.</a>.</p>
</div>
